@model Project_Unite.Models.ForumTopic
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.Subject;
}

@if(ViewBag.Error != null)
{
    <div class="panel panel-error">
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error</p>
        </div>
    </div>
}

@if(Model.IsUnlisted == true)
{
    <div class="panel panel-warning">
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-eye-close"></span> <strong>This topic is unlisted.</strong> Only those with the topic link as well as moderators may see this topic. Please respect its privacy.</p>
        </div>
    </div>
}

<h2>@Model.Subject</h2>

<p>Started by <strong>@Html.UserLink(Model.AuthorId)</strong> at <strong>@Model.StartedAt</strong></p>

@{
    Html.RenderPartial("~/Views/Shared/_ModeratorBar.cshtml", Model);
}

@foreach (var post in Model.Posts.OrderBy(x => x.PostedAt))
{
    if (Request.IsAuthenticated)
    {
        if (ACL.IsUnread(User.Identity.GetUserId(), post.Id))
        {
            ACL.MarkRead(User.Identity.GetUserId(), post.Id);
        }
    }

    <div class="row panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4"> <!--Mini profile data-->
                <img src="@ACL.GetUserInfo(post.AuthorId).AvatarUrl" width="128" height="128" /><br/>
                <strong>@Html.UserLink(post.AuthorId)</strong><br/>
                @{ 
                    var user = ACL.GetUserInfo(post.AuthorId);
                    <p><strong>@user.Codepoints</strong> Codepoints</p>
                    <p><strong><u>@user.HighestRole.Name</u></strong></p>
                    <p>
                        @if (ACL.Granted(User.Identity.Name, "CanAccessModCP"))
                        {
                            if (ACL.Granted(User.Identity.Name, "CanViewUserInfo"))
                            {
                                @Html.ActionLink("User info", "UserDetails", "Moderator", new { id = ACL.UserNameRaw(post.AuthorId) }, new { @class = "btn btn-default" })
                            }
                        }
                    </p>
                }
            </div>
            <div class="col-xs-8" id="forum_post_body"><!--Post body, subject, author, time-->
                <h4>@Model.Subject</h4>
                <p>@Html.UserLink(post.AuthorId) at @post.PostedAt</p>
                <p>@Html.Markdown(post.Body)</p>
                @{ 
                    Html.RenderPartial("~/Views/Shared/_PostModerationBar.cshtml", post);
                }
            </div>
        </div>
    </div>
}

@{
    Html.RenderPartial("~/Views/Shared/_ModeratorBar.cshtml", Model);
}
