@model Project_Unite.Models.ForumCategory
@{
    ViewBag.Title = "View forum";
}

<h2>@Model.Name</h2>

<ul class="nav nav-tabs">
    <li><a href="#" onclick="window.history.back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
@if(ACL.CanPost(User.Identity.Name, Model.Id))
{
    <li>@Html.ActionLink("New topic", "CreateTopic", "Forum", new { id=Model.Id}, null)</li>
}
</ul>
<p>@Model.Description</p>

@if (Model.Children.Length > 0)
{
        <div class="row">
            <div class="col-xs-6">Subforums</div>
            <div class="col-xs-2">Topics</div>
            <div class="col-xs-2">Posts</div>
            <div class="col-xs-2">Most Recent Post</div>
        </div>
    foreach (var cat in Model.Children)
    {
        <div class="row">
            <div class="col-xs-6">@Html.ActionLink(cat.Name, "ViewForum", "Forum", new { id = cat.Id }, null)
                <p>@cat.Description</p>
            </div>
            <div class="col-xs-2">
                @cat.Topics.Length
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2"></div>
        </div>
    }
}

<hr/>

@if (Model.Topics.Length > 0)
{
        <div class="row">
            <div class="col-xs-6">Topics</div>
            <div class="col-xs-2">Posts</div>
            <div class="col-xs-4">Most recent post</div>
        </div>
            var topics = Model.Topics.Where(x => x.ShouldShow == true).OrderByDescending(x=>x.StartedAt).ThenByDescending(x=>x.Priority);
                foreach(var topic in topics)
                {
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.ActionLink(topic.Subject, "ViewTopic", "Forum", new { id = topic.Discriminator }, null) 
                            <br/>
                            <p><strong>Started by </strong> @Html.UserLink(topic.AuthorId) <strong>at </strong> @topic.StartedAt &bull; <span class="glyphicon glyphicon-thumbs-up"></span> @topic.Likes.Length &bull; <span class="glyphicon glyphicon-thumbs-down"></span> @topic.Dislikes.Length</p>
                        </div>
                        <div class="col-xs-2">
                            <strong>@topic.Posts.Length</strong>
                        </div>
                    </div>
                }
}
else
{
    <p>No topics exist in this category. Be the first to start one!</p>
}