@model IEnumerable<Project_Unite.Models.Skin>
@{
    ViewBag.Title = "Skin Repository";
}

<h2>ShiftOS Skin Repository</h2>

<p>ShiftOS skins allow you to shift the operating system to look like anything you want. You can make it look like other operating systems, you can give the UI a different feel, or you could just change the titlebar font. The sky and your disk space is the limit.</p>

<p>You can either create your own skin, or you can select from the many skins in the Skin Reposiory made by the community.</p>

<ul class="nav nav-pills">
    @if (Request.IsAuthenticated)
    {
        <li><a href="@Url.Action("PostSkin")"><span class="glyphicon glyphicon-plus"></span> Post a skin!</a></li>
    }
</ul>

<table class="table">
    <tr>
        <th style="max-width:128px;"></th>
        <th style="width:65%;">Skin</th>
        <th style="width:10%;">Popularity</th>
        <th>Download</th>
    </tr>
    @foreach(var skin in Model)
    {
        <tr>
            <td><img src="@skin.ScreenshotUrl" style="max-width:320px;width:auto;height:auto;"/></td>
            <td>
                @Html.ActionLink(skin.Name, "ViewSkin", "Skins", new { id = skin.Name }, null) <br/>
                <p>By @Html.UserLink(skin.UserId) on @skin.PostedAt</p>
            </td>
            <td>
                @* First we'll do the likes... *@
                <span class="glyphicon glyphicon-thumbs-up"></span> @skin.Likes.Length
                @* Now the dislikes. *@
                <span class="glyphicon glyphicon-thumbs-down"></span> @skin.Dislikes.Length
                @*Now the views.*@
                <span class="glyphicon glyphicon-eye-open"></span> @skin.Views.Length
            </td>
            <td>
                <a href="@skin.DownloadUrl" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span> Download this skin</a>
            </td>
        </tr>
    }
</table>