@model Project_Unite.Models.ApplicationUser
@{
    ViewBag.Title = "My profile";
}

<div class="row">
	<h3><img src="@Model.AvatarUrl" width="64" height="64" /> @if (string.IsNullOrWhiteSpace(Model.FullName))
	{ <strong> @Model.DisplayName </strong>}
	else {
			<strong>@Model.FullName</strong> <em>(@Model.DisplayName)</em>
	}</h3>
</div>


<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
	<ul id="tabs" data-tabs="tabs" class="nav nav-tabs" role="tablist">
		<li class="active"><a data-toggle="tab" href="#t_profile">Profile</a></li>
		<li><a data-toggle="tab" href="#t_badges">Badges</a></li>
		<li><a data-toggle="tab" href="#t_posts">Posts</a></li>
		<li><a data-toggle="tab" href="#t_messages">Messages</a></li>
		<li><a data-toggle="tab" href="#t_preferences">Preferences</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="t_profile">
			<table class="table">
				<tr>
					<td><strong>Full name:</strong></td>
					<td>
						@if (string.IsNullOrWhiteSpace(Model.FullName))
						{
							<p><em>Not provided.</em></p>
						}
						else
						{
							<p>@Model.FullName</p>
						}
					</td>
				</tr>
				<tr>
					<td><strong>Display name:</strong></td>
					<td><p>@Model.DisplayName</p></td>
				</tr>
				<tr>
					<td><strong>Codepoints:</strong><p>If you have your in-game system linked with your account, your Codepoints will be shown here.</p></td>
					<td><p>@Model.Codepoints</p></td>
				</tr>
				<tr>
					<td>Links</td>
					<td>
						@if (!string.IsNullOrWhiteSpace(Model.YoutubeUrl)) {
							<a href="@Model.YoutubeUrl"><span class="glyphicon glyphicon-hd-video"></span></a>
						}
						&nbsp;&nbsp;
						@if (!string.IsNullOrWhiteSpace(Model.Website)) {
						<a href="@Model.Website">Website</a>
						}
					</td>
				</tr>
			</table>
		</div>
		<div class="tab-pane" id="t_badges">
			<h4>Not yet implemented.</h4>
			<p>This feature has not been implemented just yet.</p>
		</div>
		<div class="tab-pane" id="t_posts">
			<h4>Not yet implemented.</h4>
			<p>This feature has not been implemented just yet.</p>
		</div>
		<div class="tab-pane" id="t_messages">
			<h4>Not yet implemented.</h4>
			<p>This feature has not been implemented just yet.</p>
		</div>
		<div class="tab-pane" id="t_preferences">
			<table class="table">
                <tr>
                    <td style="width:25%"><strong>Password:</strong></td>
                    <td>@Html.ActionLink("Change", "ChangePassword", "Manage", null, new { @class = "btn btn-default" })</td>
                </tr>
            </table>
		</div>
	</div>
</div>