@model Project_Unite.Models.ApplicationUser
@{
    ViewBag.Title = "My profile";
}
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-xs-4">
    <img class="avatar" src="@Model.AvatarUrl" width="128" height="128" />
        @if (!string.IsNullOrWhiteSpace(Model.FullName))
        {
            <h4>@Model.FullName</h4>
        }
        <h5>@Model.DisplayName</h5>

	<ul id="tabs" data-tabs="tabs" class="nav nav-pills nav-stacked" role="tablist">
		<li class="active"><a data-toggle="tab" href="#t_profile">Profile</a></li>
		<li><a data-toggle="tab" href="#t_privacy">Privacy &amp; Security</a></li>
		<li><a data-toggle="tab" href="#t_data">Data</a></li>
        <li><a data-toggle="tab" href="#t_api">API</a></li>
		<li class="danger"><a data-toggle="tab" href="#t_danger">The Danger Zone</a></li>
	</ul>
        </div>
    <div class="col-xs-8">
    	<div class="tab-content">
	        <div class="tab-pane fade in active" id="#t_profile">
                <h2>Profile settings</h2>

                <p>Edit your public profile here.</p>

                @using(Html.BeginForm("ProfilePostback", "Manage"))
                {
                    <h4>Display Name</h4>
                    <p>Your Display Name is what everyone sees you as on the website. This field is required.</p>
                    @Html.TextBoxFor(Model=>Model.DisplayName, new { @class="form-control"})

                    <h4>Full name</h4>
                    <p>On your profile page, you can optionally set a full name to display along with the above display name.</p>
                    @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control" })

                    <input type="submit" value="Update" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>