
@{
    ViewBag.Title = "Dev Control Panel";
    string homeclass = (ViewBag.Page == "home") ? "active" : "";
    string releasesclass = (ViewBag.Page == "releases") ? "active" : "";
    string wikiclass = (ViewBag.Page == "wiki") ? "active" : "";
    var db = new Project_Unite.Models.ApplicationDbContext();
    var releases = db.Downloads;
    var cats = db.WikiCategories;
}

<h2>Developer Control Panel</h2>

<p>A place that only the best of the best ShiftOS developers can access.</p>

<div class="row">
    <div class="col-xs-4">
        <h4>Places</h4>

        <ul class="nav-pills nav-stacked nav" id="tabs" data-tabs="tabs">
            <li class="@homeclass"><a data-toggle="tab" href="#d_home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="@releasesclass"><a data-toggle="tab" href="#d_releases"><span class="glyphicon glyphicon-download"></span> Releases</a></li>
            <li class="@wikiclass"><a data-toggle="tab" href="#d_wiki"><span class="glyphicon glyphicon-book"></span> Wiki</a></li>
        </ul>
    </div>
    <div class="col-xs-8 tab-content">
        <div class="tab-pane fade in @homeclass" id="d_home">
            <h3>Not yet implemented.</h3>

            <p>Please suggest things to put in here.</p>
        </div>
        <div class="tab-pane fade in @releasesclass" id="d_releases">
            @Html.Partial("~/Views/Developer/Releases.cshtml", releases);
        </div>
        <div class="tab-pane fade in @wikiclass" id="d_wiki">
            @Html.Partial("~/Views/Developer/Wiki.cshtml", cats);
        </div>
    </div>
</div>