@model IEnumerable<Project_Unite.Models.WikiCategory>
@{
    ViewBag.Title = "Wiki";
}

<h2>Wiki</h2>

<p>The ShiftOS Wiki can be used to hold everything from coding guides to character details and everything in between.</p>

<p>Here you can manage categories.</p>

<ul class="nav nav-tabs">
    <li><a href="@Url.Action("AddWikiCategory", "Developer")"><span class="glyphicon glyphicon-plus"></span> Add new category</a></li>
</ul>

<table class="table">
    <tr>
        <th style="width:45%">Category</th>
        <th style="width:5%">Pages</th>
        <th>Actions</th>
    </tr>
    @foreach(var wiki in Model)
    {
        <tr>
            <th>@wiki.Name</th>
            <th>@wiki.Pages.Count()</th>
            <th>
                <a href="@Url.Action("EditWikiCategory", "Developer", new { id = wiki.Id })" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="@Url.Action("DeleteWikiCategory", "Developer", new { id = wiki.Id })" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>

            </th>
        </tr>
    }
</table>